@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <button class="btn btn-success" onclick="location.href='Departments/Create';return false;">Criar Novo</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button class="btn btn-primary btn-sm" onclick="location.href='Departments/Edit/@item.Id';return false;">Editar</button>
                <button class="btn btn-warning btn-sm" onclick="location.href='Departments/Details/@item.Id';return false;">Details</button>
                <button class="btn btn-danger btn-sm" onclick="location.href='Departments/Delete/@item.Id';return false;">Delete</button>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
