@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>


                @*<a href="<%: Url.Action('ActionName', 'ControllerName' ) %>">
                    <button>Editar</button>
                </a>*@


                <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action(" Index", "Users" )';return false;">Editar</button>
                <button class="btn btn-success btn-sm" onclick="location.href='@Url.Action(" Index", "Users" )';return false;">Detalhes</button>
                <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action(" Index", "Users" )';return false;">Deletar</button>

                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
